{#

 This file is part of the fontcrawler package.

 (c) Dennis Dietrich <d.dietrich84@googlemail.com/>

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.

#}

<div class="font-item">
    <style type="text/css">
    @font-face {
        font-family: "{{ font.id }}";
        {% for extension, source in font.sources %}
        src: url("{{ source }}") format("{{ extension }}");
        {% endfor %}
    }
    </style>
    <div>{{ font.fontFamily }}</div>
    <div style="font-family:'{{ font.id }}'; font-size:46px; color:#333">
        the quick brown fox jumps over the lazy dog
    </div>
</div>
