<div class="font-item">
    <style type="text/css">
    @font-face {
        font-family: "{{ font.id }}";
        {% for extension, source in font.sources %}
        src: url("{{ source }}") format("{{ extension }}");
        {% endfor %}
    }
    </style>
    <div>{{ font.fontFamily }}</div>
    <div style="font-family:'{{ font.id }}'; font-size:46px; color:#333">
        the quick brown fox jumps over the lazy dog
    </div>
</div>
